/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* OWN STYLES */
  :root {
    --white: #F5F7F8;
    --black: #45474B;
    --green: #379777;
    --yellow: #F4CE14;
    --red: red;
  }

  body {
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif; 
    font-weight: normal;
  }

  main {
    width: 50%;
    margin: 0 auto;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    border-radius: 6px;
  }

  thead th {
    font-size: 1.25rem;
  }

  th, td {
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
  }

  tbody tr:nth-child(odd){
    background-color: var(--black);
    color: var(--white);
  }

  thead tr, tbody tr:nth-child(even){
    background-color: var(--white);
  }

  td[data-status="read"]{
    color: var(--white);
    background-color: var(--green);
  }

  td[data-status="not-read"]{
    color: var(--white);
    background-color: var(--red);
  }