/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* OWN STYLES */
  :root {
    --green: rgb(55, 151, 119);
    --green-d: rgb(35, 96, 76);
    --yellow: rgb(244, 206, 20);
    --yellow-d: rgb(130, 110, 10);
    --red: rgb(255, 0, 0);
    --red-d: rgb(167, 2, 2);
  }

  :root.dark {
    --primary: rgb(0, 0, 0);
    --secondary: rgb(209, 217, 232);

    --secondary-b: rgb(155, 178, 224);
    --secondary-c: rgb(148, 172, 219);
    --secondary-d: rgb(216, 216, 228);
  }
  
  :root.light {
    --primary: rgb(245, 247, 248);
    --secondary: rgb(69, 71, 75);

    --secondary-b: rgb(54, 63, 81);
    --secondary-c: rgb(95, 111, 143);
    --secondary-d: rgb(17, 17, 18);
  }

  
  body {
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif; 
    font-weight: normal;
    background-color: var(--primary);
    color: var(--secondary-d);
  }

  #top-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  main {
    margin: 0 auto;
    padding: 1.5rem;
  }

  button:hover {
    cursor: pointer;
  }

  table {
    color: var(--secondary);
    table-layout: fixed;
    border-collapse: collapse;
    width: 80%;
    border: 1px solid var(--secondary-b);
    border-radius: 6px;
    margin: 1rem auto;
  }

  thead th {
    font-size: 1.25rem;
  }

  th, td {
    text-align: center;
    padding: 1rem;
    border: 1px solid var(--secondary-b);
    height: 100%;
  }

  tbody tr:nth-child(odd){
    background-color: var(--secondary);
    color: var(--primary);
  }

  thead tr, tbody tr:nth-child(even){
    background-color: var(--primary);
  }

  td[data-status="read"]{
    color: var(--white);
    background-color: var(--green);
  }

  td[data-status="not-read"]{
    color: var(--white);
    background-color: var(--red);
  }

  section {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .green-btn {
    padding: 0.5rem 1rem;
    background-color: var(--green);
    color: var(--white);
    border: 3px solid var(--black-b);
    border-radius: 6px;
    transition: 250ms;
  }

  .green-btn:hover{
    background-color: var(--green-d);
  }

  #add-btn {
    font-weight: 700;
    font-size: 1.5rem;
  }

  #add-dialog {
    width: 50%;
    margin: auto;
    border-radius: 6px;
  }

  #add-dialog header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #close-btn {
    background-color: transparent;
    border: 2px solid var(--secondary-b);
    border-radius: 6px;
    padding: 0.25rem;
  }

  #close-btn svg {
    stroke: var(--secondary-b);
  }

  #add-dialog p {
    width: 250px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
  }

  #add-dialog div {
    display: flex;
    justify-content: center;
  }

  input, select {
    width: 150px;
    padding: 0.25rem;
    border-radius: 6px;
    border: 1px solid var(--secondary-b);
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }

  .edit {
    background-color: var(--yellow);
    border: 2px solid var(--yellow-d);
    border-radius: 6px;
    padding: 0.25rem 0.5rem;
  }

  .delete {
    background-color: var(--red);
    border: 2px solid var(--red-d);
    border-radius: 6px;
    padding: 0.25rem 0.5rem;
  }

  #modeBtn {
    background-color: transparent;
    border: none;
  }

